
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  background-color: rgb(143, 183, 201);
}

.images {
  width: 200px;
  height: 200px;
}

.containerItem {
  padding: 10px;
  margin: 10px;
  align-items: center;
  position: relative; 
} 

.containerItem > img:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    5px 5px 20px #230909;
  }
  .containerItem > p {
    font-weight: 500;
  }